<!DOCTYPE html>
<html lang="en" xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>EVT Nantes - ELIE Florian</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<di id="app">
    <!-- Application -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center">Evenements à nantes</h1>
            <hr>
            <h4 class="text-left">Agendas des évènements de la ville de Nantes à venir.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-6">
            <div class="form-group col-md-6">
                <label for="nom">Nom de l'évènement </label>
                <input type="text" placeholder="Entrer un nom" v-model="label" id="nom" class="form-control">
            </div>
        </div>
    </div>
    <br>
        <div class="row">
        <div class="card col-lg-3 mt-5" v-for="event in filteredEvents" >
            <img :src="event.fields.media_1" class="card-img-top" alt="Image non disponible">
            <div class="card-body">
                <h5 class="card-title left ">{{event.fields.nom }}</h5>
                <span class="badge badge-secondary">{{ event.fields.adresse }} {{ event.fields.ville }}</span>
                <span class="badge badge-success">{{ event.fields.rubrique }}</span>
                <hr>
                <p class="card-text description" :id="'description-' + event.recordid">{{ event.fields.description.slice(0, 50) }} ... <span class="badge badge-info"></span></p>
                <b-popover :target="'description-' + event.recordid" triggers="hover" placement="top">
                    <template v-slot:title>Description</template>
                    {{ event.fields.description }}
                </b-popover>
                <div class="left">
                    <span class="float-left badge badge-danger" v-if="event.fields.complet == 'oui' ">COMPLET</span>
                    <span class="float-left badge badge-success" v-if="event.fields.complet == 'non' ">Places disponibles</span>
                </div>
                <div class="text-right">
                    <a :href="event.fields.lien_agenda" target="_blank" class="float-right btn btn-primary text-right">Voir la fiche</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="mt-5">
            <div class="row">
                <div class="col-lg-12 jumbotron">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="https://www.github.com/lxyflorian/evtnantes">Github</a></li>
                    </ul>
                </div>
            </div>
    </footer>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="http://unpkg.com/portal-vue"></script>
<script src="https://unpkg.com/bootstrap-vue@2.0.2/dist/bootstrap-vue.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>